
<!DOCTYPE html>
<html>

<% include templates/head.ejs %>

<body>

	<div class="forum">

		<% include templates/nav.ejs %>
		<% include templates/background.ejs %>
		<% include templates/root.ejs %>

		<div id="content">
			<section id="artifacts">
				<header>
					<a href="/forum/artifacts?page=1"><h2>show people your artifacts!</h2></a>
				</header>
				<ul>

					<% if (artifactsArray.length === 0) { %>
						<p> Sorry there is no existing post right now.</p>
					<% } %>
					<% artifactsArray.forEach(function (element) { %>
						<li>
							<a href="/forum/post?postid=<%= element._id %>&page=1">
								<%= element.title %> | <%= element.author %> | <%= element.reply %>
								<span><p><%= element.content %></p></span>
							</a>
						</li>
					<% }); %>
				</ul>
			</section>
			
			<section id="stories">
				<header>
					<a href="/forum/stories?page=1"><h2>share your stories with other people!</h2></a>
				</header>
				<ul>
					<% if (storiesArray.length === 0) { %>
						<p> Sorry there is no existing post right now.</p>
					<% } %>
					<% storiesArray.forEach(function(element) { %>
						<li>
							<a href="/forum/post?postid=<%= element._id %>">
								<%= element.title %> | <%= element.author %> | <%= element.reply%>
								<span><p><%= element.content %></p></span>
							</a>
						</li>
					<% }); %>
				</ul>
			</section>
		</div>
	</div>

</body>
</html>