

<head>
    <link rel = "stylesheet" href="/othercss.css">
    <meta charset="UTF-8">

    <title>Title</title>
</head>

<body>
<div class="container">
    <br><br><br><br>
    <div class="row cf">
        <div id="card1" class="card four col">
            <div class="image-wrapper"></div>
            <h3 class="name">
                <% result.forEach(function(element) { %>
                    <%= element.name%>
                <% })%>
            </h3>
            <br><br>
            <div class="info cf">
                <div class="four col"><span class="number">
                        <% result.forEach(function(element) { %>
                            <%= element.post%>
                        <% })%>
                    </span>Posts</div>

                <div class="four col"><span class="number">
                        <% result.forEach(function(element) { %>
                            <%= element.likes%>
                        <% })%>
                    </span>Likes</div>
                <div class="four col"><span class="number">
                        <% result.forEach(function(element) { %>
                            <%= element.rank%>
                        <% })%>
                    </span>Rank</div>
            </div>
            <br><br>
        </div>

        <div id="card2" class="card four col">
            <div class="header"></div>
            <div class="wrapper">
                <div class="image-wrapper"></div>
                <h3 class="name">About me</h3>

                <div class="info">
                    <p><% result.forEach(function(element) { %>
                            <%= element.aboutme%>
                        <% })%></p>
                </div>
            </div>
        </div>

        <div id="card1" class="card four col">
            <div class="header" herf = "/profile/edit" style="background-color:darkseagreen; border-radius: 12px; display: block">
                <% if (myself) { %>
                <a href="/profile/edit" style="text-decoration: none;display: block; color: white;">EDIT</a>
                <% } %>
            </div>
            <div class="wrapper">
                <h2 class="name">More about me...</h2>
            </div>
            <div class="options">
                <ul>
                    <li><span class="icon"><i class="fa fa-plus" ></i></span>First name:
                        <% result.forEach(function(element) { %>
                            <%= element.firstname%>
                        <% })%></li>
                    <li><span class="icon"><i class="fa fa-plus" ></i></span>Last name:
                        <% result.forEach(function(element) { %>
                            <%= element.lastname%>
                        <% })%></li>
                    <li><span class="icon"><i class="fa fa-envelope" ></i></span>Level:
                        <% result.forEach(function(element) { %>
                            <%= element.exp%>
                        <% })%></li>
                    <li><span class="icon"><i class="fa fa-envelope" ></i></span>Gender:
                        <% result.forEach(function(element) { %>
                            <%= element.gender%>
                        <% })%></li>

                    <li><span class="icon"><i class="fa fa-envelope" ></i></span>E-mail:
                        <% result.forEach(function(element) { %>
                            <%= element.email%>
                        <% })%></li>


                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="otheruser.js"></script>
</html>