<!DOCTYPE html>
<html>
<head>
    <title><%= post.title %> | <%= (post.type === "artifacts" ? "Artifacts" : "Stories") %> | Forum | Building A Better Life</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/searchBar.css">
    <link rel="stylesheet" href="/forum.css">
    <link rel="stylesheet" href="/post.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

<div class="forum">

    <% include templates/nav.ejs %>
    <% include templates/background.ejs %>
    <% include templates/root.ejs %>

    <div id="content" style="padding-bottom: 50px">
        <% include templates/comment.ejs %>
        <section id="post">
            <header>
                <h2><%= post.title %></h2>
            </header>
<!--            main post section-->
            <div id="user">
                <div id="description">
                    <img src=<%= author_info.avatar %> width="80" height="80" alt="user token">
                    <br>
                    <br>
                    <a href="/viewProfile?id=<%= author_info._id %>">
                        <h3><%= author_info.name %></h3>
                    </a>
                    <% if (author_info.gender != 'hidden') { %>
                        <h5><%= author_info.gender %></h5>
                    <% } %>

                    <h5>Rank: <%= author_info.rank %></h5>
                    <h5>EXP: <%= author_info.exp %></h5>
                    <!--<h5><%= post.likes %></h5>-->
                    <a href="#gotoreply"><button id="reply">Reply</button></a>
                </div>

                <div id="post-section">

                    <br>
                    <p>
                        <%- post.content %>
                    </p>
                </div>
            </div>
<!--            reply section-->
            <% array_info.forEach(function(user) { %>
                <div id="user">
                    <div id="description">
                        <h3><%= user.name %></h3>
                        <h5><%= user.gender %> | <%= user.rank %> | <%= user.exp %></h5>
                        <h5><%= user.post %> | <%= user.likes %> | </h5>
                    </div>
                    <div id="comment">
                        <form id="reply">
                            <p>Reply</p>
                        </form>
                        <br>
                        <p>
                            <%= commentsArray.content %>
                        </p>
                    </div>
                </div>
            <% }); %>

        </section>
        <% include templates/comment.ejs %>
        <section id="gotoreply" style="width: 100%; margin-top: 50px">



            <header>
                <h2>Comment</h2>
            </header>
            <% if (viewer) { %>
                <form method="post">
                    <textarea name="usrreply" placeholder="Leave a comment" style="width: 100%" rows="10"></textarea>
                    <button style="float: right; padding: 10px;" type="submit" value="Reply">Reply</button>
                </form>
            <% } else { %>
                <p style="font-size: 1.3em; text-align: center">To comment one must <span><a id="loginreply" href="/login?orig=" style="">login</a></span> first!</p>
                <script>
                    var login = document.getElementById("loginreply");
                    var currHref = login.getAttribute('href');
                    login.setAttribute('href', currHref + window.location.pathname+window.location.search);
                </script>
            <% } %>



        </section>



    </div>
</div>


</body>
</html>