<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= tips.title %> </title>
    <link rel = "stylesheet" href="/tippages.css">
</head>
<body>
<!-- vertically first part of page-->
<section class="part" id="part1">
    <div class="content addtriangle right">
        <h1><%= tips.title %></h1>
        <p><%= tips.author %></p>
    </div>
</section>
<section class="part" id="part2">
<!--    vertically second part of page-->
    <div class="content addtriangle">
        <h2><%= tips.title %></h2>
        <p><%= tips.paragraph1 %></p>
    </div>
</section>
<section class="part" id="part3">
<!--    vertically third part of page-->
    <div class="content">
        <p> <%= tips.paragraph2 %></p>
    </div>
</section>
</body>
</html>