

<div id="page-nav">
<!--    if there's no existing page, still display 1-->
    <% if (total < 1) { %>
        <a href="/forum/<%= section %>?page=1">1</a>
    <% } %>

<!--    if less than 10 pages, only display existing pages-->
    <% if (total < 10 * 12) {%>
        <% for (var i=1; i <= (total / 12 + total % 12); i++) { %>
            <a href="/forum/<%= section %>?page=<%= i %>">i</a>
        <% } %>
    <% } %>

<!--    if more than 10 pages, it depends on-->
    <% if (total > 10 * 12) { %>
        <% for (var i=1; i <= (total / 12 + total % 12); i++) { %>
<!--            before 5 pages, display 1 to 9-->
            <% if (currentpage < 5) { %>
                <a href="/forum/<%= section %>?page=<%= i %>">i</a>
            <% } %>
<!--            after 5 pages, display 4 pages before and after-->
            <% if (currentpage >= 5) { %>
                <% var j = i - 4; %>
                <a href="/forum/<%= section %>?page=<%= j %>">j</a>
                <% } %>
        <% } %>
    <% } %>
</div>