<li>
    <a href="/forum/post?postid=<%= element._id %>&page=1">
        <span style="font-size: 1.3em;"><%= element.title %></span> | (<%= element.reply.length %>) replies
        <br>
        By <%= element. %>
        <!--<span><p><%= element.content %></p></span>-->
    </a>
</li>